.header .fa-chevron-down {
  display: none;
}
.header .nav__list {
  margin-top: 6px;
  margin-right: 35.5px;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  padding: 1px 0 1px 15px;
  margin: 0 auto;
  background-color: #f3c6bd;
  transition: padding 0.3s, background-color 0.3s;
  z-index: 1002;
}
.header__inner--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 130px;
  background-color: rgba(243, 198, 189, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation-name: header;
  animation-duration: 0.4s;
}
.header__inner .header__content {
  display: flex;
  align-items: center;
  gap: 58px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo__img {
  max-width: 60px;
  height: 60px;
}

.logo__text {
  display: flex;
  flex-direction: column;
}
.logo__text-name {
  color: #2b292d;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo__text-description {
  font-size: 18px;
  opacity: 0.6;
  color: #2b292d;
  line-height: 25px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 55.5px;
}
.nav__list-item {
  cursor: pointer;
}
.nav__list-item:nth-of-type(3) {
  animation: pulse-wave 1.5s infinite;
}
.nav__list .nav__list-link--test {
  letter-spacing: -0.01px;
}
.nav__list-link {
  color: #2b292d;
  border-bottom-width: 2px;
  transition: border-bottom 0.2s linear;
}
.nav__list-link:hover {
  border-bottom: 3px solid #3040c4;
  border-bottom-width: 4px;
  color: #3040c4;
}
.nav__list-link--active {
  font-weight: 700;
}
.nav__list .fa-solid {
  font-size: 10px;
}

.nav__list-item {
  position: relative;
}

.dropdown {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 20px;
  border-radius: 6px;
  width: 612px;
  height: 292px;
  z-index: 300;
  transition: box-shadow 0.2s ease-in-out;
}
.dropdown:hover {
  box-shadow: 0 0 10px 6px rgba(243, 198, 189, 0.8);
}
.dropdown__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 40px;
}
.dropdown__list-title {
  font-weight: 700;
}
.dropdown__list-title--active {
  color: #009b4d;
}
.dropdown__list-description {
  font-size: 18px;
}

@keyframes header {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.play-btn {
  cursor: pointer;
  color: #fcf0e3;
  font-size: 26px;
}

.header__audio {
  position: absolute;
  top: 52px;
  right: 50px;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: rgba(43, 41, 45, 0.6);
}
.mobile-menu-icon .fa-bars,
.mobile-menu-icon .fa-times {
  font-size: clamp(22px, 1.1898rem + 0.9259vw, 32px);
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 150px 20px;
  background-color: #f3c6bd;
  box-shadow: 4px 6px 14px rgba(43, 41, 45, 0.3);
  width: 100%;
  max-width: 360px;
  z-index: 999;
}
@media screen and (max-width: 576px) {
  .mobile-menu {
    max-width: 100%;
    right: 0;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.mobile-nav__list-link {
  color: rgba(43, 41, 45, 0.6);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 28px;
}
.mobile-nav__list-link:hover {
  transition: border-bottom 0.2s linear;
}
.mobile-nav__list-link:hover:hover {
  border-bottom: 3px solid #3040c4;
  border-bottom-width: 4px;
  color: #3040c4;
}

.mobile-menu-btn {
  font-size: 22px;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 2px;
  color: #3142c6;
  background-color: #fff;
  transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.mobile-menu-btn:hover {
  background-color: #3040c4;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .mobile-menu-icon {
    display: block;
  }
  .nav__list {
    display: none;
  }
  .button-blue--mobile,
  .header__audio,
  .logo__text-description {
    display: none;
  }
  .logo,
  .mobile-menu-icon {
    position: relative;
    z-index: 1100;
  }
}
@media screen and (max-width: 992px) {
  .header__inner {
    padding: 10px 15px;
    background-color: #fff;
    height: 64px;
  }
  .mobile-menu-icon {
    display: block;
    height: 64px;
    border-left: 1px solid rgba(43, 41, 45, 0.6);
  }
  .fa-bars,
  .fa-times {
    padding: 20px 0 20px 20px;
  }
  .logo__img {
    width: 48px;
    height: 48px;
  }
}
@media screen and (max-width: 480px) {
  .header__inner {
    padding: 10px 15px;
  }
  .logo__img {
    width: 48px;
    height: 48px;
  }
}
.headline__inner {
  display: flex;
  justify-content: space-between;
  background-color: #f3c6bd;
  padding: 40px 25px 126px 130px;
  position: relative;
}
.headline__content {
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.headline__title {
  position: relative;
  z-index: 100;
  max-width: 754px;
  font-size: clamp(50px, 2.5694rem + 2.7778vw, 80px);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 14px;
}
.headline__description {
  max-width: 456px;
  font-size: 24px;
  line-height: 142%;
  margin-bottom: 60px;
}
.headline__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headline__buttons .button-white--color {
  color: #3040c4;
}
.headline__img {
  position: absolute;
  top: 48px;
  right: 22px;
  width: 796px;
  height: 448px;
}

@media screen and (max-width: 1200px) {
  .headline__image {
    opacity: 0.5;
  }
}
@media screen and (max-width: 992px) {
  .headline__inner {
    padding-left: 15px;
    padding: 40px 15px 126px;
  }
}
@media screen and (max-width: 885px) {
  .headline__inner {
    flex-wrap: wrap;
  }
  .headline__img {
    position: static;
  }
  .headline__description {
    margin-bottom: 30px;
  }
  .headline__content {
    margin-bottom: 32px;
  }
  .headline__image {
    position: relative;
    width: 100%;
    padding-bottom: 56.2814070352%;
    opacity: 1;
  }
  .headline__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .headline__inner {
    padding-bottom: 58px;
  }
}
@media screen and (max-width: 576px) {
  .headline__buttons {
    flex-direction: column;
  }
  .headline__buttons .button-blue,
  .headline__buttons .button-white {
    width: 100%;
  }
  .headline__inner {
    padding: 32px 15px 58px;
  }
}
@media screen and (max-width: 480px) {
  .mobile-menu-icon {
    padding-right: 6px;
  }
  .headline__title {
    margin-bottom: 8px;
    letter-spacing: -0.3125px;
    margin: 0;
  }
  .headline__buttons {
    gap: 15px;
  }
  .headline__inner {
    padding: 0 0px 58px;
  }
  .headline__content {
    padding: 0 15px 0;
  }
}
.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 76px 130px 50px;
  background-color: #f4f5f7;
}
@media screen and (max-width: 768px) {
  .about__inner {
    grid-template-columns: 1fr;
    padding: 48px 15px 18px;
    gap: 4px;
  }
}
.about__content {
  max-width: 555px;
}
.about__content-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -14px;
}
.about__content-description {
  font-size: 22px;
}

.partners {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 30px 130px 106px;
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  max-width: 1400px;
}
.partners__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 94px;
}
.partners__list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners__list-item:nth-child(3), .partners__list-item:nth-child(6) {
  border-right: 0;
}
.partners__list-item-logo {
  filter: brightness(0);
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .partners {
    padding: 30px 130px 30px;
  }
}
@media screen and (max-width: 885px) {
  .partners {
    padding: 20px 15px 46px 15px;
  }
}
@media (max-width: 576px) {
  .partners {
    padding: 0 0 46px 0;
  }
  .partners__list-item {
    border-bottom: 1px solid rgba(43, 41, 45, 0.1);
    border-right: 1px solid rgba(43, 41, 45, 0.1);
  }
  .partners__list {
    grid-template-columns: repeat(3, minmax(107px, 1fr));
    gap: 0;
  }
}
.features {
  display: flex;
  gap: 125px;
  background-color: #fff;
  padding: 0 0 102px 130px;
}
.features__content {
  position: relative;
}
.features__content-subtitle {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #009b4d;
  margin-bottom: 22px;
}
@media screen and (max-width: 885px) {
  .features__content-subtitle {
    display: none;
  }
}
.features .features__content-subtitle--mobile {
  display: none;
}
.features__content-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
  max-width: 462px;
  margin-bottom: 22px;
}
.features__content-description {
  font-size: 22px;
  max-width: 462px;
  letter-spacing: 0.85px;
  line-height: 1.5;
  margin-bottom: 42px;
}
.features__content-sub {
  font-size: 22px;
  font-weight: 700;
  color: #3142c6;
  margin-bottom: -16px;
}
.features__content-sub::before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: -2px;
}
.features__content-text {
  font-size: 18px;
  max-width: 460px;
}
.features__content-divider {
  display: block;
  height: 1px;
  opacity: 0.1;
  width: 100%;
  background-color: #2b292d;
  margin-bottom: 16px;
}
.features__divider--blue {
  height: 3px;
  opacity: 1;
  background-color: #3142c6;
}
.features__content-info {
  display: block;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
}
.features__content-info:nth-of-type(2):before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: middle;
}
.features__content-info:nth-of-type(3):before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: middle;
}
.features__content-img {
  position: absolute;
  top: 258px;
  left: -130px;
}
.features__image-caption {
  display: none;
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (max-width: 1320px) {
  .features {
    align-items: center;
    justify-content: center;
    padding: 0 15px 40px;
  }
  .features__content-img {
    display: none;
  }
  .features__image-caption {
    display: block;
    text-align: center;
  }
  .features__image {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 885px) {
  .features__content-info,
  .features__content-divider,
  .features__content-sub,
  .features__content-text {
    display: none;
  }
  .features .features__content-subtitle--mobile {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid rgba(43, 41, 45, 0.1);
  }
}
@media screen and (max-width: 576px) {
  .features__content-description {
    margin-bottom: 0;
  }
}
.engage {
  display: none;
  padding: 40px 15px;
  background-color: #fff;
}
.engage__content:nth-of-type(1) {
  width: 100%;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1);
}
.engage__content-sub {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #009b4d;
  margin-bottom: 22px;
}
.engage__content-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
  max-width: 462px;
  margin-bottom: 22px;
}
.engage__content-description {
  font-size: 22px;
  max-width: 462px;
  letter-spacing: 0.85px;
  line-height: 1.5;
  margin-bottom: 2px;
}
.engage__content-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}
.engage__content-figure-image {
  margin: 0;
  margin-top: 30px;
}
.engage__content-figure-caption {
  font-size: 14px;
  max-width: 100%;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
  margin-top: 19px;
}

@media screen and (max-width: 768px) {
  .engage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0 4px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .engage {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .engage__content {
    padding: 0 15px;
  }
}
.manage {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 160px;
  background-color: #fcf0e3;
  padding: 142px 24px 102px 192px;
}
.manage__wheel-image {
  width: 100%;
  max-width: 425px;
  height: 100%;
  max-height: auto;
  margin-bottom: 15px;
}
.manage__wheel-text {
  font-size: 14px;
  opacity: 0.6;
  text-align: center;
  display: block;
}
.manage__content {
  margin-top: -38px;
}
.manage__content-inner {
  padding-left: 30px;
}
.manage__content-inner-decor {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #f1592b;
  margin-bottom: 24px;
}
.manage__content-inner-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
  max-width: 462px;
  margin-bottom: 30px;
}
.manage__content-inner-description {
  font-size: 24px;
  max-width: 462px;
  line-height: 1.4;
}
.manage__content-blockquote {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 520px;
  font-size: 20px;
  background-color: #fff;
  padding: 30px 30px 28px 30px;
  border-bottom: 4px solid #3142c6;
}
.manage__content-blockquote-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blockquote-info__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.blockquote-info__text {
  display: flex;
  flex-direction: column;
}
.blockquote-info__text-author {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}
.blockquote-info__text-position {
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  .manage {
    justify-content: center;
    padding: 142px 24px 102px;
  }
}
@media screen and (max-width: 1200px) {
  .manage {
    flex-direction: column;
    text-align: center;
    gap: 58px;
    padding: 20px 24px 102px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 480px) {
  .manage {
    text-align: left;
    padding: 50px 24px 34px;
  }
  .manage__wheel-image {
    width: 290px;
    height: 344px;
  }
  .manage__wheel-text {
    display: none;
  }
  .manage__content-inner {
    padding-left: 0px;
  }
  .manage__content-inner-decor {
    margin-bottom: 20px;
  }
  .manage__content-inner-title {
    margin-bottom: -8px;
  }
}
.communicate {
  background-color: #fff;
}
.communicate__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 110px 50px 120px 130px;
}
.communicate__content {
  display: flex;
  align-items: center;
  gap: 192px;
}
.communicate__content-decor {
  font-size: 22px;
  color: #0189d1;
  font-weight: 700;
  margin-bottom: 22px;
  display: block;
}
.communicate__content-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  max-width: 462px;
  font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
  margin-bottom: 29px;
}
.communicate__content-description {
  font-size: 24px;
  max-width: 462px;
  line-height: 1.4;
  margin-bottom: 40px;
}
.communicate__content-divider {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(43, 41, 45, 0.1);
  width: 150px;
  margin-top: 90px;
}
.communicate__content-figure-image {
  width: 100%;
  max-width: 425px;
  margin-top: -50px;
  margin-bottom: 24px;
}
.communicate__content-figure-caption {
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
  text-align: center;
}
.communicate__content-divider--mobile {
  display: none;
}
.communicate__list {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
}
.communicate__list-item {
  max-width: 360px;
}
.communicate__list-item:nth-of-type(3) {
  max-width: 364px;
}

.list-item__desc {
  margin-bottom: 0;
}
.list-item__link {
  color: #3040c4;
  text-decoration: underline;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}
.list-item__link:hover {
  color: #0189d1;
}

@media screen and (max-width: 1320px) {
  .communicate__inner {
    align-items: center;
    justify-content: center;
    padding: 110px 50px 120px;
  }
  .communicate__content-divider {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .communicate__content {
    flex-direction: column;
    text-align: center;
    gap: 100px;
  }
  .communicate__list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .communicate__inner {
    gap: 34px;
    padding: 58px 50px 120px;
  }
}
@media screen and (max-width: 576px) {
  .communicate__content-image {
    width: 290px;
    height: auto;
  }
  .communicate__content {
    text-align: left;
  }
  .communicate__inner {
    padding: 58px 15px 48px;
    gap: 38px;
  }
  .communicate__list {
    gap: 20px;
    margin-top: -24px;
  }
  .communicate__content-divider--mobile {
    display: flex;
    align-self: self-start;
    margin: 0;
  }
  .communicate__content-figure-image {
    margin-bottom: 20px;
  }
}
.audience__inner {
  display: flex;
  flex-direction: column;
  gap: 110px;
  background-color: #edf8fb;
  padding: 108px 56px 110px 130px;
}
@media screen and (max-width: 1320px) {
  .audience__inner {
    gap: 60px;
  }
}
@media screen and (max-width: 576px) {
  .audience__inner {
    gap: 40px;
  }
}
.audience__content {
  margin: 0 auto;
  text-align: center;
  padding-right: 70px;
}
@media screen and (max-width: 1200px) {
  .audience__content {
    padding-right: 0;
  }
}
.audience__content-decor {
  display: block;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 24px;
}
.audience__content-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  margin-bottom: 30px;
  max-width: 555px;
  font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
  letter-spacing: -0.36px;
}
.audience__content-description {
  font-size: 24px;
  max-width: 555px;
  line-height: 34px;
}
@media screen and (max-width: 480px) {
  .audience__content-description {
    line-height: 34px;
  }
}

.audience__content-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cards__list {
  display: flex;
  gap: 30px;
}
.cards__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 262px;
  height: 300px;
  background-color: #fff;
  border-radius: 8px;
  padding: 22px 62px 32px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s linear, color 0.2s linear;
}
.cards__list-item:hover {
  background-color: #3142c6;
  color: #fff;
}
.cards__list-link {
  transition: rotate 0.2s ease-in;
  display: block;
}
.cards__list-link:hover {
  rotate: -5deg;
  box-shadow: 0 0 10px rgba(29, 55, 82, 0.2);
  border-radius: 8px;
}
.cards__list-img {
  width: 119px;
  height: 200px;
  margin-bottom: 22px;
}
.cards__list .cards__list-item-img {
  height: 195px;
  background-size: cover;
}
.cards__list .cards__list-item-img--size {
  width: 119px;
  align-items: center;
}
.cards__list-title {
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding-top: 20px;
}

@media screen and (max-width: 1320px) {
  .audience__inner {
    padding: 52px 15px 130px;
    align-items: center;
    justify-content: center;
  }
  .cards__list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .cards__list-item {
    width: 290px;
  }
}
@media screen and (max-width: 576px) {
  .audience__content-buttons {
    flex-direction: column;
  }
  .audience__content-buttons .button-blue,
  .audience__content-buttons .button-white {
    width: 100%;
  }
  .audience__content-decor {
    margin-bottom: 18px;
  }
  .audience__content-title {
    margin-bottom: -10px;
  }
  .audience__content-description {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .audience__inner {
    padding: 52px 15px 52px;
  }
}
.swiper {
  width: 100%;
  height: 250px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback {
  background-color: #fff;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1);
}
.feedback .feedback__blockquote-author {
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.feedback .feedback__blockquote-role {
  display: block;
  font-size: 16px;
  color: #2b292d;
  opacity: 0.6;
}
.feedback__image {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 273px;
  height: 243px;
  z-index: 999;
}

.feedback__title {
  font-size: 24px;
  font-weight: 700;
  color: #3142c6;
  text-align: center;
  margin-bottom: 28px;
}
@media screen and (max-width: 480px) {
  .feedback__title {
    line-height: 1.3;
  }
}

.feedback__blockquote-text {
  font-size: 24px;
  max-width: 750px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 54px;
  margin-top: -80px;
}

@media screen and (max-width: 1200px) {
  .feedback__image {
    display: none;
  }
  .feedback {
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    height: 285px;
  }
  .feedback__blockquote-author {
    margin-top: 90px;
  }
  .feedback__blockquote-text {
    margin-top: -70px;
  }
}
@media screen and (max-width: 576px) {
  .swiper {
    height: 300px;
  }
  .feedback__blockquote-author {
    margin-top: 120px;
  }
  .feedback__blockquote-text {
    margin-top: -50px;
  }
  .feedback__title,
  .feedback__blockquote-text {
    text-align: left;
  }
}
@media screen and (max-width: 470px) {
  .feedback__image {
    display: block;
    position: static;
    width: 290px;
    height: 258px;
    margin: 30px auto 48px;
  }
  .swiper {
    height: 360px;
  }
  .feedback__blockquote-author {
    margin-top: 156px;
    text-align: left;
  }
  .feedback__blockquote-text {
    margin-top: -70px;
    line-height: 1.4;
  }
  .feedback__blockquote-role {
    text-align: left;
  }
}
@media screen and (max-width: 380px) {
  .swiper {
    height: 440px;
  }
  .feedback__blockquote-author {
    margin-top: 246px;
  }
  .feedback__blockquote-text {
    margin-top: -70px;
  }
}
@media screen and (max-width: 340px) {
  .swiper {
    height: 450px;
  }
  .feedback__blockquote-author {
    margin-top: 256px;
  }
  .feedback__blockquote-text {
    margin-top: -70px;
  }
}
.hiring {
  background-color: #fff;
  padding: 80px 0 110px;
}
.hiring__content {
  text-align: center;
  margin-bottom: 110px;
}
.hiring__content-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
}
.hiring__content-description {
  font-size: 24px;
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 28px;
}
.hiring__list {
  margin: 0 auto;
  max-width: 750px;
}
.hiring__link:hover .hiring__item-info-location {
  color: #fff;
}
.hiring__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 26px;
  border: 2px solid rgba(43, 41, 45, 0.1);
  border-radius: 8px;
  max-width: 750px;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 20px;
}
.hiring__item:hover {
  background-color: #3142c6;
  cursor: pointer;
  color: #fff;
}
.hiring__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 620px;
}
.hiring__item-info-role {
  font-size: 22px;
  font-weight: 700;
}
.hiring__item-info-location {
  font-size: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);
  color: rgba(43, 41, 45, 0.6);
}
.hiring__item-arrow {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .hiring {
    padding: 50px 15px 60px;
  }
  .hiring__content {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .hiring__item-info {
    flex-direction: column;
    align-items: start;
  }
  .hiring__content-title {
    margin-bottom: 22px;
  }
  .hiring__content-description {
    line-height: 1.4;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 480px) {
  .hiring {
    padding: 50px 15px 30px;
  }
  .hiring__item {
    padding: 0 0 0 18px;
    margin-bottom: 14px;
  }
  .hiring__item-arrow {
    background-color: #d5d4d5;
    padding: 60px 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
@media screen and (max-width: 370px) {
  .hiring__item-info-role {
    max-width: 130px;
    margin-bottom: 14px;
  }
  .hiring__content-btn {
    width: 100%;
    max-width: 290px;
  }
}
.order {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  gap: 120px;
  justify-content: center;
  background-color: #f4f5f7;
  padding: 72px 0;
}
.order__image {
  max-width: 270px;
  height: 296px;
}
.order__title {
  font-size: 40px;
  font-weight: 700;
}
.order__description {
  font-size: 22px;
  margin-bottom: 26px;
  max-width: 555px;
  margin-bottom: 30px;
}
.order__form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.order__form-input {
  display: block;
  width: 100%;
  max-width: 385px;
  border-radius: 2px;
  line-height: 1;
  border: 1px solid rgba(43, 41, 45, 0.2);
  padding: 13px 0 13px 15px;
}
.order__form-input:focus {
  outline: 1px solid #3142c6;
}
.order__text {
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
  line-height: 157%;
  display: block;
}
.order__link {
  color: #3142c6;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
.order__link:hover {
  color: #0189d1;
}

@media screen and (max-width: 1440px) {
  .order {
    justify-content: center;
    align-items: center;
    padding: 72px 15px;
  }
}
@media screen and (max-width: 1200px) {
  .order {
    flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 586px) {
  .order {
    align-items: center;
    justify-content: center;
    gap: 46px;
    padding: 54px 15px 46px;
  }
  .order__form {
    flex-direction: column;
  }
  .order__form-input {
    max-width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .order__image {
    margin-left: -16px;
  }
  .order__title {
    font-size: 38px;
    line-height: 100%;
  }
  .order__description {
    margin-bottom: 40px;
  }
  .order {
    padding: 50px 0 46px;
  }
  .order__content {
    padding: 0 15px 46px;
  }
}
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(3, 360px 220px 220px);
  column-gap: 100px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1);
  padding: 42px 260px 46px 130px;
}
.footer__info-desc {
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  margin-bottom: 28px;
}
.footer__info-apps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.footer__info-apps-link:hover {
  transition: scale 0.2s ease-in-out;
  scale: 1.05;
}
.footer__line {
  display: none;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1);
}
.footer__links-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__links-list-item {
  font-size: 18px;
  line-height: 1.4;
  color: rgba(43, 41, 45, 0.6);
}
.footer__links-list-link {
  transition: border-bottom 0.2s linear;
}
.footer__links-list-link:hover {
  border-bottom: 3px solid #3040c4;
  border-bottom-width: 4px;
  color: #3040c4;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 15px 130px;
}
.footer__bottom .footer-info__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
}
.footer__bottom .footer-info__list-link {
  transition: border-bottom 0.2s linear;
}
.footer__bottom .footer-info__list-link:hover {
  border-bottom: 3px solid #3040c4;
  border-bottom-width: 4px;
  color: #3040c4;
}
.footer__bottom .footer-social__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.logo--footer .logo__text-description {
  display: block;
}

.footer-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(43, 41, 45, 0.1);
}

@media screen and (max-width: 1200px) {
  .footer__top {
    grid-template-columns: repeat(3, 300px 220px 220px);
    justify-items: center;
    gap: 30px;
  }
}
@media screen and (max-width: 992px) {
  .footer__top {
    grid-template-columns: repeat(2, 300px);
  }
}
@media screen and (max-width: 768px) {
  .footer__top {
    grid-template-columns: repeat(1, 300px);
    justify-items: left;
  }
  .footer__bottom {
    padding: 15px 15px;
  }
}
@media screen and (max-width: 576px) {
  .footer__top {
    padding: 42px 0 12px 15px;
    grid-template-columns: repeat(1, 300px);
    justify-items: left;
  }
  .footer__top {
    gap: 64px;
  }
}
@media screen and (max-width: 470px) {
  .footer__line {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .footer__info-desc {
    display: none;
  }
  .footer__info .logo {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
  .logo__img--footer {
    width: 60px;
    height: 60px;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .footer__top {
    border: none;
  }
  .logo__text--footer {
    margin-bottom: 24px;
  }
  .footer__links-list {
    gap: 6px;
  }
  .footer__links:nth-of-type(3) {
    margin-top: -34px;
  }
  .footer__info {
    padding: 0 15px;
  }
  .logo__text-name--footer {
    line-height: 1.5;
  }
}
.button-blue,
.button-white {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 2px;
  transition: opacity 0.2s ease-in, scale 0.2s ease-in-out;
}

.button-blue {
  background-color: #3040c4;
  color: #fff;
}

.button-white {
  background-color: #fff;
  color: #000000;
}

.button-blue:hover,
.button-white:hover {
  opacity: 0.8;
  scale: 1.05;
}

.btn-test {
  padding: 10.5px 28.5px 11px;
}

.show {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 260;
  height: 6738px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3040c4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b292d;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #3142c6;
  opacity: 0.7;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  transition: opacity 0.2s ease-in-out;
}

.scroll-top-btn:hover {
  opacity: 0.9;
}

.fa-arrow-up {
  font-size: 34px;
  line-height: 1.2;
}

.header__audio--sticky {
  position: absolute;
  top: 24px;
  right: 50px;
}

.no-scroll {
  overflow: hidden;
}

.filter-blur {
  filter: blur(6px);
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #2b292d;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0;
  }
}

.main {
  flex-grow: 1;
}

/*# sourceMappingURL=styles.css.map */
