.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 130px 36px 130px;
  background-color: #f3c6bd;
}
.header__inner .header__content {
  display: flex;
  align-items: center;
  gap: 58px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo__img {
  max-width: 68px;
  height: 60px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.logo__text-name {
  color: #2b292d;
  font-weight: 700;
  font-size: 20px;
}
.logo__text-description {
  font-size: 18px;
  opacity: 0.6;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav__list-link {
  color: #2b292d;
  transition: color 0.2s linear, font-weight 0.2s linear;
}
.nav__list-link:hover {
  color: #3040c4;
}
.nav__list-link--active {
  font-weight: 700;
}
.nav__list .fa-solid {
  font-size: 10px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  background-color: #f3c6bd;
  padding: 40px 25px 126px 130px;
  position: relative;
}
.hero__content {
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.hero__title {
  position: relative;
  z-index: 100;
  max-width: 754px;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 14px;
  letter-spacing: -1px;
}
.hero__description {
  max-width: 456px;
  line-height: 1.4;
  margin-bottom: 60px;
  font-size: 24px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero__img {
  position: absolute;
  top: 48px;
  right: 22px;
  width: 796px;
  height: 448px;
}

.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 76px 130px 50px;
  background-color: #f4f5f7;
}
.about__content {
  max-width: 555px;
}
.about__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -14px;
}
.about__description {
  font-size: 22px;
}

.partners__inner {
  padding: 30px 130px 106px;
}
.partners__list {
  display: flex;
  align-items: center;
  gap: 106px;
}
.partners__link-logo {
  filter: brightness(0);
}

.features__inner {
  display: flex;
  gap: 125px;
  padding: 0 0 102px 130px;
}
.features__content {
  position: relative;
}
.features__content .features__decor-img {
  position: absolute;
  top: 258px;
  left: -130px;
}
.features__decor-text {
  font-size: 22px;
  color: #009b4d;
  font-weight: 700;
  margin-bottom: 30px;
  display: block;
}
.features__title {
  font-size: 55px;
  max-width: 462px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 28px;
}
.features__description {
  font-size: 22px;
  max-width: 462px;
  margin-bottom: 42px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.85px;
}
.features__subtitle {
  color: #3142c6;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -16px;
}
.features__subtitle::before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: -2px;
}
.features__subtitle::after {
  content: "";
  background-image: url("../img/pointer.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 16px;
  height: 20px;
  vertical-align: -10px;
  margin-left: -12px;
}
.features__text {
  font-size: 18px;
  max-width: 460px;
}
.features__divider {
  display: block;
  height: 1px;
  background-color: #2b292d;
  opacity: 0.1;
  width: 100%;
  margin-bottom: 16px;
}
.features__divider--blue {
  background-color: #3142c6;
  height: 3px;
  opacity: 1;
}
.features__info {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
  display: block;
}
.features__info:nth-of-type(2):before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: middle;
}
.features__info:nth-of-type(3):before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: middle;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fff;
  color: #2b292d;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 1430px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.button-blue,
.button-white {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 2px;
  transition: opacity 0.2s ease-in;
}

.button-blue {
  background-color: #3040c4;
  color: #fff;
}

.button-white {
  background-color: #fff;
  color: #3040c4;
}

.button-blue:hover,
.button-white:hover {
  opacity: 0.8;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
