.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 130px 36px 130px;
  background-color: #f3c6bd;
}
.header__inner .header__content {
  display: flex;
  align-items: center;
  gap: 58px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo__img {
  max-width: 68px;
  height: 60px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.logo__text-name {
  color: #2b292d;
  font-weight: 700;
  font-size: 20px;
}
.logo__text-description {
  font-size: 18px;
  opacity: 0.6;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav__list-item {
  cursor: pointer;
}
.nav__list-link {
  color: #2b292d;
  transition: border-bottom 0.2s linear;
  border-bottom-width: 2px;
}
.nav__list-link:hover {
  border-bottom: 3px solid #3040c4;
  border-bottom-width: 4px;
}
.nav__list-link--active {
  font-weight: 700;
}
.nav__list .fa-solid {
  font-size: 10px;
}

.nav__list-item {
  position: relative;
}

.dropdown {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 20px;
  border-radius: 6px;
  width: 612px;
  height: 292px;
  z-index: 300;
}
.dropdown__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 40px;
}
.dropdown__list-title {
  font-weight: 700;
}
.dropdown__list-title--active {
  color: #009b4d;
}
.dropdown__list-description {
  font-size: 18px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  background-color: #f3c6bd;
  padding: 40px 25px 126px 130px;
  position: relative;
}
.hero__content {
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.hero__title {
  position: relative;
  z-index: 100;
  max-width: 754px;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 14px;
  letter-spacing: -1px;
}
.hero__description {
  max-width: 456px;
  line-height: 1.4;
  margin-bottom: 60px;
  font-size: 24px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero__img {
  position: absolute;
  top: 48px;
  right: 22px;
  width: 796px;
  height: 448px;
}

.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 76px 130px 50px;
  background-color: #f4f5f7;
}
.about__content {
  max-width: 555px;
}
.about__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -14px;
}
.about__description {
  font-size: 22px;
}

.partners {
  background-color: #fff;
}
.partners__inner {
  padding: 30px 130px 106px;
}
.partners__list {
  display: flex;
  align-items: center;
  gap: 106px;
}
.partners__link-logo {
  filter: brightness(0);
}

.partners-copy {
  padding: 44px 130px 72px;
}

.features {
  background-color: #fff;
}
.features__inner {
  display: flex;
  gap: 125px;
  padding: 0 0 102px 130px;
}
.features__content {
  position: relative;
}
.features__content .features__decor-img {
  position: absolute;
  top: 258px;
  left: -130px;
}
.features__decor-text {
  font-size: 22px;
  color: #009b4d;
  font-weight: 700;
  margin-bottom: 30px;
  display: block;
}
.features__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  font-size: 55px;
  max-width: 462px;
  margin-bottom: 28px;
}
.features__description {
  font-size: 22px;
  max-width: 462px;
  margin-bottom: 42px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.85px;
}
.features__subtitle {
  color: #3142c6;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -16px;
}
.features__subtitle::before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: -2px;
}
.features__subtitle::after {
  content: "";
  background-image: url("../img/pointer.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 16px;
  height: 20px;
  vertical-align: -10px;
  margin-left: -12px;
}
.features__text {
  font-size: 18px;
  max-width: 460px;
}
.features__divider {
  display: block;
  height: 1px;
  background-color: #2b292d;
  opacity: 0.1;
  width: 100%;
  margin-bottom: 16px;
}
.features__divider--blue {
  background-color: #3142c6;
  height: 3px;
  opacity: 1;
}
.features__info {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
  display: block;
}
.features__info:nth-of-type(2):before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: middle;
}
.features__info:nth-of-type(3):before {
  content: "";
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  vertical-align: middle;
}

.manage {
  display: flex;
  align-items: center;
  gap: 160px;
  background-color: #fcf0e3;
  padding: 142px 24px 102px 192px;
}
.manage__image-wheel {
  max-width: 425px;
  height: 510px;
  margin-bottom: 15px;
}
.manage__image-text {
  font-size: 14px;
  opacity: 0.6;
  text-align: center;
  display: block;
}
.manage__content {
  margin-top: -38px;
}
.manage__content-inner {
  padding-left: 30px;
}
.manage__content-decor {
  color: #f1592b;
  font-weight: 700;
  margin-bottom: 24px;
  display: block;
  font-size: 22px;
}
.manage__content-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  max-width: 462px;
  margin-bottom: 30px;
}
.manage__content-description {
  font-size: 24px;
  max-width: 462px;
  line-height: 1.4;
}
.manage__content-blockquote {
  font-size: 20px;
  background-color: #fff;
  max-width: 520px;
  padding: 30px 30px 28px 30px;
  border-bottom: 4px solid #3142c6;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.manage .content-blockquote__text {
  display: block;
}
.manage .content-blockquote__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.manage .content-blockquote__info-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.manage .content-blockquote__info-text {
  display: flex;
  flex-direction: column;
}
.manage .info-text__author {
  font-size: 16px;
  font-weight: 700;
  display: flex;
}
.manage .info-text__position {
  font-size: 16px;
}

.communicate {
  background-color: #fff;
}
.communicate__inner {
  display: flex;
  flex-direction: column;
  gap: 88px;
  padding: 110px 50px 120px 130px;
}
.communicate__content {
  display: flex;
  align-items: center;
  gap: 192px;
}
.communicate__content-decor {
  font-size: 22px;
  color: #0189d1;
  font-weight: 700;
  margin-bottom: 22px;
  display: block;
}
.communicate__content-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  max-width: 462px;
  margin-bottom: 29px;
}
.communicate__content-description {
  font-size: 24px;
  max-width: 462px;
  margin-bottom: 40px;
  line-height: 1.4;
}
.communicate__content-image {
  max-width: 425px;
}
.communicate__list {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.communicate__list-item {
  max-width: 360px;
}
.communicate__list-item:nth-of-type(3) {
  max-width: 364px;
}

.list-item__desc {
  margin-bottom: 0;
}
.list-item__link {
  color: #3040c4;
  text-decoration: underline;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}
.list-item__link:hover {
  color: #0189d1;
}

.audience__inner {
  background-color: rgba(0, 161, 198, 0.1);
  padding: 108px 56px 110px 130px;
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.audience__content {
  margin: 0 auto;
  text-align: center;
}
.audience__content-decor {
  font-size: 22px;
  margin-bottom: 24px;
  font-weight: 700;
  display: block;
}
.audience__content-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  margin-bottom: 30px;
  max-width: 555px;
}
.audience__content-description {
  font-size: 24px;
  margin-bottom: 34px;
  max-width: 555px;
}

.audience__content-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 262px);
  column-gap: 30px;
}
.cards__list-item {
  width: 262px;
  height: 300px;
  background-color: #fff;
  border-radius: 8px;
  padding: 22px 62px 32px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.cards__list-item:hover {
  background-color: #3142c6;
  color: #fff;
}
.cards__list-item:nth-of-type(2) {
  background-color: #3142c6;
  color: #fff;
}
.cards__list-link {
  transition: rotate 0.2s ease-in;
}
.cards__list-link:hover {
  rotate: -5deg;
  box-shadow: 0 0 10px rgba(29, 55, 82, 0.2);
  border-radius: 8px;
}
.cards__list-img {
  margin-bottom: 22px;
  width: 195px;
  width: 142px;
  height: 195px;
  object-fit: contain;
}
.cards__list-title {
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.swiper {
  width: 100%;
  height: 250px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback {
  background-color: #fff;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1);
}
.feedback .feedback__blockquote-author {
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.feedback .feedback__blockquote-role {
  display: block;
  font-size: 16px;
  color: #2b292d;
  opacity: 0.6;
}
.feedback__image {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 273px;
  height: 243px;
  z-index: 999;
}

.feedback__title {
  font-size: 24px;
  font-weight: 700;
  color: #3142c6;
  text-align: center;
  margin-bottom: 28px;
}

.feedback__blockquote-text {
  font-size: 24px;
  max-width: 750px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 54px;
  margin-top: -80px;
}

.hiring {
  background-color: #fff;
}
.hiring__inner {
  padding: 100px 0 110px;
}
.hiring__content {
  text-align: center;
  margin-bottom: 110px;
}
.hiring__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}
.hiring__description {
  font-size: 24px;
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 28px;
}
.hiring__list {
  margin: 0 auto;
  max-width: 750px;
}
.hiring__list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px;
  border: 2px solid rgba(43, 41, 45, 0.1);
  border-radius: 8px;
  max-width: 750px;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 20px;
}
.hiring__list-link:hover {
  background-color: #3142c6;
  cursor: pointer;
  color: #fff;
}
.hiring__list-link .list-link__role {
  font-size: 22;
  font-weight: 700;
}
.hiring__list-link .list-link__location {
  font-size: 18px;
}
.hiring__list-link .list-link__arrow {
  width: 8px;
  height: 12px;
  line-height: 0.4;
  display: block;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #2b292d;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 1430px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.button-blue,
.button-white {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 2px;
  transition: opacity 0.2s ease-in;
}

.button-blue {
  background-color: #3040c4;
  color: #fff;
}

.button-white {
  background-color: #fff;
  color: #3040c4;
}

.button-blue:hover,
.button-white:hover {
  opacity: 0.8;
}

.show {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 260;
  height: 4000px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3040c4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b292d;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #3142c6;
  opacity: 0.7;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  transition: opacity 0.2s ease-in-out;
}

.scroll-top-btn:hover {
  opacity: 0.9;
}

.fa-arrow-up {
  font-size: 34px;
  line-height: 1.2;
}

/*# sourceMappingURL=styles.css.map */
