.about {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 76px 130px 50px;
    background-color: $color-light-dark;

		@media screen and (max-width: $media-768) {
			grid-template-columns: 1fr;
			padding: 48px 15px 18px;
			gap: 4px;
		}
  }

  &__content {
    max-width: 555px;

    &-title {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: -14px;
    }

    &-description {
      font-size: 22px;
    }
  }
}
