.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  padding: 48px 15px 18px;
  background-color: $color-light-dark;

  @media screen and (min-width: $media-900) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 76px 130px 50px;
  }

  &__content {
    max-width: 555px;

    &-title {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: -14px;
    }

    &-description {
      font-size: 22px;
    }
  }
}
