.audience {
  &__inner {
    @include flex-column(110px);
    background-color: #edf8fb;
    padding: 108px 56px 110px 130px;

    @media screen and (max-width: $media-1320) {
      gap: 60px;
    }
    @media screen and (max-width: $media-576) {
      gap: 40px;
    }
  }

  &__content {
    margin: 0 auto;
    text-align: center;
    padding-right: 60px; //!!!!!!!!!!!!!!!

  @media screen and (max-width: $media-1200) {
    padding-right: 0; //!!!!!!!!!!!!!!!
    
  }


    &-decor {
      display: block;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 24px;
    }

    &-title {
      @include title;
      margin-bottom: 30px;
      max-width: 555px;
      font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
      letter-spacing: -0.36px;

      // @media screen and (max-width: $media-480) {
      //   font-size: 39px;
      // }
    }

    &-description {
      font-size: 24px;
      max-width: 555px;
      line-height: 32px;
      @media screen and (max-width: $media-480) {
        line-height: 34px;
      }
    }
  }
}

.audience__content-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cards {
  &__list {
    display: flex;
    gap: 30px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 262px;
      height: 300px;
      background-color: $color-light;
      border-radius: 8px;
      padding: 22px 62px 32px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
      transition: background-color 0.2s linear, color 0.2s linear;
    }

    &-item:hover {
      background-color: $color-blue;
      color: $color-light;
    }

    &-link {
      transition: rotate 0.2s ease-in;
      display: block;
    }

    &-link:hover {
      rotate: -5deg;
      box-shadow: 0 0 10px rgba(29, 55, 82, 0.2);
      border-radius: 8px;
    }

    &-img {
      width: 119px;
      height: 200px;
      // width: 142px;
      // height: 195px;
      margin-bottom: 22px;
    }

    .cards__list-item-img {
      height: 195px;
      background-size: cover;
    }

    .cards__list-item-img--size {
      width: 119px;
      align-items: center;
    }

    &-title {
      display: block;
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      padding-top: 20px;
    }
  }
}

// MEDIA QUERIES

@media screen and (max-width: $media-1320) {
  .audience__inner {
    padding: 52px 15px 130px;
    align-items: center;
    justify-content: center;
  }

  .cards__list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .cards__list-item {
    width: 290px;
  }
}

@media screen and (max-width: $media-576) {
  .audience__content-buttons {
    flex-direction: column;

    .button-blue,
    .button-white {
      width: 100%;
    }
  }
  .audience__content-decor {
    margin-bottom: 18px;
  }
  .audience__content-title {
    margin-bottom: -10px;
  }
  .audience__content-description {
    margin-bottom: 26px;
  }
  .audience__inner {
    padding: 52px 15px 52px;
  }
}
