$media-1400: 1400px;
$media-900: 900px;
$media-400: 400px;

$media-1320: 1320px;
$media-1200: 1200px;
$media-992: 992px;
$media-855: 885px;
$media-768: 768px;
$media-576: 576px;
$media-480: 480px;

$media-320: 320px;
$media-320: 320px;
$media-320: 320px;
$media-320: 320px;
$media-320: 320px;
$media-320: 320px;
$media-320: 320px;