.features {
	&__inner {
		display: flex;
		gap: 125px;
		padding: 0 0 102px 130px;
	}

	&__content {
		position: relative;

		.features__decor-img {
			position: absolute;
			top: 258px;
			left: -130px;
		}
	}

	&__decor-text {
		font-size: 22px;
		color: $color-green;
		font-weight: 700;
		margin-bottom: 30px;
		display: block;
	}

	&__title {
		font-size: 55px;
		max-width: 462px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 28px;
	}

	&__description {
		font-size: 22px;
		max-width: 462px;
		margin-bottom: 42px;
		line-height: 1.5;
		display: block;
		letter-spacing: 0.85px;
	}

	&__subtitle {
		color: $color-blue;
		font-size: 22px;
		font-weight: 700;
		margin-bottom: -16px;
	}

	&__subtitle::before {
		content: '';
		background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png');
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-right: 15px;
		vertical-align: -2px;
	}

	&__subtitle::after {
		content: '';
		background-image: url('../img/pointer.svg');
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;
		width: 16px;
		height: 20px;
		vertical-align: -10px;
		margin-left: -12px;
	}

	&__text {
		font-size: 18px;
		max-width: 460px;
	}

	&__divider {
		display: block;
		height: 1px;
		background-color: $color-black;
		opacity: 0.1;
		width: 100%;
		margin-bottom: 16px;
	}

	&__divider--blue {
		background-color: $color-blue;
		height: 3px;
		opacity: 1;
	}

	&__info {
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 22px;
		display: block;

		&:nth-of-type(2):before {
			content: '';
			background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png');
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-right: 15px;
			vertical-align: middle;
		}
		&:nth-of-type(3):before {
			content: '';
			background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png');
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-right: 15px;
			vertical-align: middle;
		}
	}
}
