.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-light;

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 360px 220px 220px);
    column-gap: 100px;
    border-bottom: 1px solid rgba($color-black, 0.1);
    padding: 42px 260px 46px 130px;

    @media screen and (max-width: $media-1200) {
      grid-template-columns: repeat(3, 300px 220px 220px);
      justify-items: center;
      gap: 30px;
    }
    @media screen and (max-width: $media-992) {
      grid-template-columns: repeat(2, 300px);
    }
    @media screen and (max-width: $media-768) {
      grid-template-columns: repeat(1, 300px);
      justify-items: left;
    }
    @media screen and (max-width: $media-576) {
      padding: 42px 0 12px 15px;
      grid-template-columns: repeat(1, 300px);
      justify-items: left;
      gap: 64px;
    }
    @media screen and (max-width: $media-480) {
      border: none;
    }
  }

  &__info {
    @media screen and (max-width: $media-480) {
      margin: 0 auto;
    }
  }

  &__info-desc {
    font-size: 18px;
    color: rgba($color-black, 0.6);
    margin-bottom: 28px;

    @media screen and (max-width: $media-480) {
      display: none;
    }
  }

  &__info-apps {
    @include flex-center(flex-start, 10px);

    &-link:hover {
      transition: scale 0.2s ease-in-out;
      scale: 1.05;
    }
  }

  &__line {
    display: none;
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba($color-black, 0.1);

    @media screen and (max-width: 470px) {
      display: block;
    }
  }

  &__links {
    &-title {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 18px;
    }

    &-list {
      @include flex-column(12px);

      @media screen and (max-width: $media-480) {
        gap: 8px;
      }

      &-item {
        font-size: 18px;
        line-height: 1.4;
        color: rgba($color-black, 0.6);
      }

      &-link {
        @include hover-link;
      }
    }
  }

  &__bottom {
    @include flex-center(space-between);
    padding: 15px 130px;

    @media screen and (max-width: $media-768) {
      padding: 15px 15px;
    }
    @media screen and (max-width: $media-480) {
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }

    .footer-info {
      @media screen and (max-width: $media-480) {
        padding: 0 15px;
      }

      &__list {
        @include flex-center(flex-start, 20px);
        color: rgba($color-black, 0.6);
        font-size: 14px;

        &-link {
          @include hover-link;
        }
      }
    }

    .footer-social {
      &__list {
        @include flex-center(flex-start, 20px);
      }
    }
  }
}

@media screen and (max-width: $media-480) {
  .footer__info .logo {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
  .logo__img--footer {
    width: 60px;
    height: 60px;
  }
  .logo__text--footer {
    margin-bottom: 30px;
  }
  .footer__links:nth-of-type(3) {
    margin-top: -34px;
  }
  .logo__text-name--footer {
    line-height: 1.5;
  }
}

.logo--footer .logo__text-description {
  display: block;
}

.footer-divider {
  height: 1px;
  width: 100%;
  background-color: rgba($color-black, 0.1);
}
