.headline {
  position: relative;
  max-width: 1249px;
  height: 456px;
  display: flex;
  justify-content: space-between;
  background-color: $color-beige;
  margin: 40px 25px 126px 130px;

  @media screen and (max-width: $media-992) {
    margin: 40px 15px 126px;
  }
  @media screen and (max-width: $media-855) {
    flex-wrap: wrap;
    padding-bottom: 58px;
  }
  @media screen and (max-width: $media-576) {
    margin: 32px 15px 58px;
  }
  @media screen and (max-width: $media-480) {
    margin: 0;
    height: 800px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 100;

    @media screen and (max-width: $media-992) {
      margin-left: 15px;
    }

    @media screen and (max-width: $media-855) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: $media-480) {
      padding: 0px 15px 0 0;
      margin-top: 32px;
    }
  }

  &__title {
    position: relative;
    z-index: 100;
    max-width: 754px;
    font-size: clamp(50px, 2.5694rem + 2.7778vw, 80px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 14px;

    @media screen and (max-width: $media-480) {
      margin-bottom: 8px;
      letter-spacing: -0.3125px;
      margin: 0;
    }
  }

  &__description {
    max-width: 456px;
    font-size: 24px;
    line-height: 142%;
    margin-bottom: 60px;

    @media screen and (max-width: $media-855) {
      margin: 29px 0 32px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: $media-576) {
      flex-direction: column;

      .button-blue,
      .button-white {
        width: 100%;
      }
    }

    @media screen and (max-width: $media-480) {
      gap: 15px;
    }

    .button-white--accent {
      color: $color-accent;
    }
  }

  &__img {
    position: absolute;
    top: 8px;
    right: 0;
    width: 796px;
    height: 448px;

    @media screen and (max-width: $media-1200) {
      opacity: 0.5;
    }
    @media screen and (max-width: $media-855) {
      display: none;
      position: static;
    }
    @media screen and (max-width: $media-480) {
      width: 100%;
      max-width: 480px;
      height: auto;
      display: block;
      opacity: 1;
    }
  }
}
