.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 130px 36px 130px;
	background-color: $color-beige;

	.header__content {
		display: flex;
		align-items: center;
		gap: 58px;
	}
}

.logo {
	display: flex;
	align-items: center;
	gap: 8px;

	&__img {
		max-width: 68px;
		height: 60px;
	}
}

.logo__text {
	display: flex;
	flex-direction: column;
	gap: 6px;

	&-name {
		color: $color-black;
		font-weight: 700;
		font-size: 20px;
	}

	&-description {
		font-size: 18px;
		opacity: 0.6;
	}
}

.nav {
	&__list {
		display: flex;
		align-items: center;
		gap: 50px;

		&-item {
			cursor: pointer;
		}

		&-link {
			color: $color-black;
			transition: border-bottom 0.2s linear;
			border-bottom-width: 2px;
			&:hover {
				border-bottom: 3px solid $color-accent;
				border-bottom-width: 4px;
			}

			&--active {
				font-weight: 700;
			}
		}

		.fa-solid {
			font-size: 10px;
		}
	}
}

// Dropdown

.nav__list-item {
	position: relative;
}

.dropdown {
	display: none;
	background-color: $color-light;
	position: absolute;
	top: 50px;
	right: 20px;
	border-radius: 6px;
	width: 612px;
	height: 292px;
	z-index: 300;

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: 20px;
		padding: 20px 40px;
	}

	&__list-title {
		font-weight: 700;
		&--active {
			color: $color-green;
		}
	}

	&__list-description {
		font-size: 18px;
	}
}
