.headline {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1249px;
  height: 800px;
  margin: 32px 0px 58px;
  padding-bottom: 58px;
  background-color: $color-beige;

  @media screen and (min-width: $media-400) {
    height: 456px;
  }
  @media screen and (min-width: $media-900) {
    margin: 40px 15px 126px;
  }
  @media screen and (min-width: $media-1400) {
    margin: 40px 25px 126px 130px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    margin-left: 15px;
    padding: 0px 15px 0 0;
    z-index: 100;

    @media screen and (min-width: $media-1400) {
      margin-left: 0;
    }
  }

  &__title {
    position: relative;
    max-width: 754px;
    font-size: clamp(50px, 2.5694rem + 2.7778vw, 80px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.3125px;
    margin-bottom: 8px;
    margin: 0;
    z-index: 100;

    @media screen and (min-width: $media-400) {
      margin-bottom: 14px;
      letter-spacing: -1px;
    }
  }

  &__description {
    max-width: 456px;
    font-size: 24px;
    line-height: 142%;
    margin: 29px 0 32px;

    @media screen and (min-width: $media-900) {
      margin-bottom: 60px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    @media screen and (min-width: $media-400) {
      flex-direction: row;
      gap: 10px;
    }

    .button-blue,
    .button-white {
      width: 100%;

      @media screen and (min-width: $media-900) {
        width: auto;
      }
    }

    .button-white--accent {
      color: $color-accent;
    }
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 480px;
    height: auto;
    position: static;

    @media screen and (min-width: $media-400) {
      display: none;
    }
    @media screen and (min-width: $media-900) {
      display: block;
      position: absolute;
      top: 8px;
      right: 0;
      max-width: 796px;
      height: 448px;
      opacity: 0.5;
    }
    @media screen and (min-width: $media-1400) {
      opacity: 1;
    }
  }
}
