.headline {
  &__inner {
    display: flex;
    justify-content: space-between;
    background-color: $color-beige;
    // background-color: #fff; //!!!!!!!!!!
    padding: 40px 25px 126px 130px;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  &__title {
    position: relative;
    z-index: 100;
    max-width: 754px;
    font-size: clamp(50px, 2.5694rem + 2.7778vw, 80px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 14px;
  }

  &__description {
    max-width: 456px;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 60px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    .button-white--color {
      color: $color-accent;
    }
  }

  &__img {
    position: absolute;
    top: 48px;
    right: 22px;
    width: 796px;
    height: 448px;
  }
}

// MEDIA QUERIES

@media screen and (max-width: $media-1200) {
  .headline__image {
    opacity: 0.5;
  }
}

@media screen and (max-width: $media-992) {
  .headline__inner {
    padding-left: 15px;
    padding: 40px 15px 126px;
  }
}

@media screen and (max-width: $media-855) {
  .headline__inner {
    flex-wrap: wrap;
  }
  .headline__img {
    position: static;
  }

  .headline__description {
    margin-bottom: 30px;
  }

  .headline__content {
    margin-bottom: 32px;
  }

  .headline__image {
    @include adaptive-image(796, 448);
    opacity: 1;
  }

  .headline__inner {
    padding-bottom: 58px;
  }
}

@media screen and (max-width: $media-576) {
  .headline__buttons {
    flex-direction: column;

    .button-blue,
    .button-white {
      width: 100%;
    }
  }

  .headline__inner {
    padding: 32px 15px 58px; //!!!!!!!!!!!!!!!!!!!
  }
}

@media screen and (max-width: $media-480) {
  .mobile-menu-icon {
    padding-right: 6px;
  }
  .headline__title {
    margin-bottom: 8px;
    letter-spacing: -0.01em;
  }
  .headline__buttons {
    gap: 15px;
  }
  .headline__inner {
    padding: 0 15px 58px; //!!!!!!!!!!!!!!!!!!!
  }
}
