.hiring {
	background-color: $color-light;
	&__inner {
		padding: 80px 0 110px;
	}

	&__content {
		text-align: center;
		margin-bottom: 110px;
	}

	&__title {
		@include title;
	}

	&__description {
		font-size: 24px;
		max-width: 555px;
		margin: 0 auto;
		margin-bottom: 28px;
	}

	&__list {
		margin: 0 auto;
		max-width: 750px;
	}

	&__list-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 26px;
		border: 2px solid rgb($color-black, 0.1);
		border-radius: 8px;
		max-width: 750px;
		transition: background-color 0.2s ease-in-out;
		margin-bottom: 20px;

		&:hover {
			background-color: $color-blue;
			cursor: pointer;
			color: $color-light;
		}

		.list-link__role {
			font-size: 22;
			font-weight: 700;
		}

		.list-link__location {
			font-size: 18px;
		}

		.list-link__arrow {
			width: 8px;
			height: 12px;
			line-height: 0.4;
			display: block;
		}
	}
}
