.hiring {
  padding: 50px 15px 30px;
  background-color: $color-light;

  @media screen and (min-width: $media-900) {
    padding: 50px 15px 60px;
  }
  @media screen and (min-width: $media-1400) {
    padding: 80px 0 110px;
  }

  &__content {
    text-align: center;
    margin-bottom: 40px;

    @media screen and (min-width: $media-1400) {
      margin-bottom: 110px;
    }
  }

  @media screen and (max-width: 370px) {
    .hiring__content-btn {
      width: 100%;
      max-width: 290px;
    }
  }

  &__content-title {
    font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
    margin-bottom: 22px;

    @media screen and (min-width: $media-900) {
      margin-bottom: 30px;
    }
  }

  &__content-description {
    max-width: 555px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 32px;

    @media screen and (min-width: $media-900) {
      line-height: 1.5;
      margin-bottom: 28px;
    }
  }

  &__list {
    max-width: 750px;
    margin: 0 auto;
  }

  &__link:hover &__item-info-location {
    color: $color-light;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    border: 2px solid rgb($color-black, 0.1);
    border-radius: 8px;
    padding: 0 0 0 18px;
    margin-bottom: 14px;
    transition: background-color 0.2s ease-in-out;

    @media screen and (min-width: $media-400) {
      padding: 24px 26px;
      margin-bottom: 20px;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-blue;
      color: $color-light;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      align-items: start;
      width: 100%;
      max-width: 620px;

      @media screen and (min-width: $media-900) {
        flex-direction: row;
        align-items: center;
      }

      &-role {
        font-weight: 700;
        max-width: 130px;
        font-size: 22px;
        margin-bottom: 14px;

        @media screen and (min-width: $media-400) {
          max-width: 260px;
        }
      }

      &-location {
        font-size: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);
        color: rgb($color-black, 0.6);
      }
    }

    &-arrow {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 60px 20px;
      background-color: $color-gray;

      @media screen and (min-width: $media-400) {
        border: none;
        font-size: 14px;
        padding: 0;
        background-color: $color-light;
      }
    }
  }
}
