@import 'breakpoints';
@import 'variables';
@import 'header';
@import 'headline';
@import 'about';
@import 'partners';
@import 'features';
@import 'engage';
@import 'manage';
@import 'communicate';
@import 'audience';
@import 'feedback';
@import 'hiring';
@import 'order';
@import 'footer';
@import 'global';
@import 'scroll';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $color-black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (max-width: $media-1200) {
    padding: 0;
  }
}

.main {
  flex-grow: 1;
}

.top-wrap {
  background-color: $color-beige;
}

.button-blue,
.button-white {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 2px;
  transition: opacity 0.2s ease-in, scale 0.2s ease-in-out;
}

.button-blue {
  background-color: $color-accent;
  color: $color-light;

  @media screen and (max-width: $media-1200) {
    display: none;
  }
}

.button-white {
  background-color: $color-light;
  color: $color-dark;
}

.button-blue:hover,
.button-white:hover {
  opacity: 0.8;
  scale: 1.05;
}

button {
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  outline: 0;
  border: 0;
  font: inherit;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
body,
figure,
blockquote {
  margin: 0;
}
