@import 'variables';
@import 'header';
@import 'hero';
@import 'about';
@import 'partners';
@import 'features';
@import 'manage';


body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	background-color: $color-light;
	color: $color-black;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;

	max-width: 1430px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
}

.button-blue,
.button-white {
	font-size: 18px;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 2px;
	transition: opacity 0.2s ease-in;
}

.button-blue {
	background-color: $color-accent;
	color: $color-light;
}

.button-white {
	background-color: $color-light;
	color: $color-accent;
}

.button-blue:hover,
.button-white:hover {
	opacity: 0.8;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


