@import 'variables';
@import 'header';
@import 'hero';
@import 'about';
@import 'partners';
@import 'features';
@import 'manage';
@import 'communicate';
@import 'audience';
@import 'feedback';
@import 'hiring';
@import 'subscription';
@import 'footer';

@import 'global';

body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	background-color: $color-body;
	color: $color-black;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	max-width: 1420px;
	padding: 0 10px;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
}




