.manage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 58px;
  text-align: left;
  padding: 50px 24px 34px;
  background-color: $color-yellow-light;

  @media screen and (min-width: $media-400) {
    padding: 20px 24px 102px;
  }
  @media screen and (min-width: $media-900) {
    flex-direction: row;
    gap: 160px;
    text-align: center;
    padding: 142px 24px 102px;
  }
  @media screen and (min-width: $media-1400) {
    padding: 142px 24px 102px 192px;
  }

  &__wheel-image {
    width: 290px;
    height: 344px;
    max-width: 425px;
    margin-bottom: 15px;

    @media screen and (min-width: $media-400) {
      width: 100%;
      height: 100%;
    }

    // width: 100%;
    // max-width: 425px;
    // height: 100%;
    // max-height: auto;
    // margin-bottom: 15px;

    // @media screen and (max-width: $media-480) {
    //   width: 290px;
    //   height: 344px;
    // }
  }

  &__wheel-text {
    font-size: 14px;
    opacity: 0.6;
    text-align: center;
    display: block;

    @media screen and (max-width: $media-480) {
      display: none;
    }
  }

  &__content {
    margin-top: -38px;

    &-inner {
      padding-left: 30px;

      @media screen and (max-width: $media-480) {
        padding-left: 0px;
      }
    }

    &-inner-decor {
      display: block;
      font-size: 22px;
      font-weight: 700;
      color: $color-orange;
      margin-bottom: 24px;

      @media screen and (max-width: $media-480) {
        margin-bottom: 20px;
      }
    }

    &-inner-title {
      @include title;
      font-size: clamp(40px, 2.2037rem + 1.4815vw, 56px);
      max-width: 462px;
      margin-bottom: 30px;

      @media screen and (max-width: $media-480) {
        margin-bottom: -8px;
      }
    }

    &-inner-description {
      font-size: 24px;
      max-width: 462px;
      line-height: 1.4;
    }

    &-blockquote {
      display: flex;
      flex-direction: column;
      gap: 26px;
      max-width: 520px;
      font-size: 20px;
      background-color: $color-light;
      padding: 30px 30px 28px 30px;
      border-bottom: 4px solid $color-blue;
    }

    &-blockquote-info {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.blockquote-info {
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__text-author {
    display: flex;
    font-size: 16px;
    font-weight: 700;
  }

  &__text-position {
    font-size: 16px;
  }
}
