.order {
  @include flex-center(flex-center, 120px);
  justify-content: center;//!!!!!!!!!!!!!!
  background-color: $color-light-dark;
  // padding: 72px 224px; //!!!!!!!!!!!!!!
  padding: 72px 0;

  &__image {
    max-width: 270px;
    height: 296px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
  }

  &__description {
    font-size: 22px;
    margin-bottom: 26px;
    max-width: 555px;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__form-input {
    display: block;
    width: 100%;
    max-width: 385px;
    border-radius: 2px;
    line-height: 1;
    border: 1px solid rgba($color-black, 0.2);
    padding: 13px 0 13px 15px;

    &:focus {
      outline: 1px solid $color-blue;
    }
  }

  &__text {
    font-size: 14px;
    color: rgba($color-black, 0.6);
  }

  &__link {
    color: $color-blue;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-blue-light;
    }
  }
}

// MEDIA QUERIES

@media screen and (max-width: $media-1440) {
  .order {
    justify-content: center;
    align-items: center;
    padding: 72px 15px;
  }
}

@media screen and (max-width: $media-1200) {
  .order {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (max-width: 586px) {
  .order {
    align-items: center;
    justify-content: center;
    gap: 36px;
    padding: 54px 15px 46px;
  }
  .order__form {
    flex-direction: column;
  }
  .order__form-input {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: $media-480) {
  .order__image {
    // max-width: 200px;
    // height: 220px; //!!!!!!!!!!!!!!!!!!!
    margin-left: -24px;
  }
  .order__title {
    font-size: 38px;
    // text-align: center; //!!!!!!!!!!!!!!
    line-height: 1.1;
  }
  .order__description {
    margin-bottom: 40px;
  }
  .order {
    padding: 54px 0 46px; //!!!!!!!!!!!!
  }
  .order__content {
    padding: 0 15px 46px; //!!!!!!!!!!!!!!!
  }
}
