.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: $color-light-dark;
  padding: 50px 0 46px;

  @media screen and (min-width: $media-400) {
    gap: 50px;
    padding: 54px 15px 46px;
  }
  @media screen and (min-width: $media-1400) {
    flex-direction: row;
    gap: 120px;
    padding: 72px 15px;
  }

  &__image {
    max-width: 200px;
    height: 220px;

    @media screen and (min-width: $media-400) {
      max-width: 270px;
      height: 296px;
    }
  }

  &__content {
    padding: 0 15px 46px;

    @media screen and (min-width: $media-400) {
      padding: 72px 0;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;

    @media screen and (max-width: $media-480) {
      font-size: 40px;
      line-height: 100%;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.25px;
    }
  }

  &__description {
    font-size: 22px;
    margin-bottom: 26px;
    max-width: 555px;
    margin-bottom: 30px;

    @media screen and (max-width: $media-480) {
      margin-bottom: 70px;
      margin-top: 16px;
    }
  }

  &__form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    @media screen and (max-width: 586px) {
      flex-direction: column;
    }
  }

  &__form-input {
    display: block;
    width: 100%;
    max-width: 385px;
    border-radius: 2px;
    line-height: 1;
    border: 1px solid rgba($color-black, 0.2);
    padding: 13px 0 13px 15px;

    @media screen and (max-width: 586px) {
      max-width: 100%;
      text-align: center;
    }

    &:focus {
      outline: 1px solid $color-blue;
    }
  }

  &__text {
    font-size: 14px;
    color: rgba($color-black, 0.6);
    line-height: 157%;
    display: block;
  }

  &__link {
    color: $color-blue;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-blue-light;
    }
  }
}
