.partners {
  display: flex;
  justify-content: center;
  background-color: $color-light;
  padding: 30px 130px 106px;

  @media screen and (max-width: $media-1200) {
    padding: 30px 130px 30px;
  }
  @media screen and (max-width: $media-855) {
    padding: 20px 15px 46px 15px;
  }
  @media (max-width: $media-576) {
    padding: 0 0 46px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    max-width: 1400px;

    @media (max-width: $media-576) {
      grid-template-columns: repeat(3, minmax(107px, 1fr));
      gap: 0;
    }
  }

  &__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 94px;

    @media (max-width: $media-576) {
      border-bottom: 1px solid rgba($color-black, 0.1);
      border-right: 1px solid rgba($color-black, 0.1);
    }
  }

  &__list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list-item:nth-child(3),
  &__list-item:nth-child(6) {
    border-right: 0;
  }

  &__list-item-logo {
    filter: brightness(0);
    max-width: 100%;
    height: auto;
  }
}
