.partners {
	background-color: $color-light;

	&__inner {
		padding: 30px  130px 106px;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 106px;
	}

	&__link-logo {
		filter: brightness(0);
	}
}

.partners-copy {
	padding: 44px  130px 72px;
}
