$color-beige: #f3c6bd;
$color-black: #2b292d;
$color-accent: #3040c4;
$color-blue: #3142c6;
$color-blue-light: #0189d1;
$color-blue-birch: rgb(#00a1c6, 0.1);
$color-light: #fff;
$color-light-dark: #f4f5f7;
$color-green: #009b4d;
$color-yellow-light: #fcf0e3;
$color-orange: #f1592b;
$color-grey: #2c3241;
$color-body: #f2f2f2;

@mixin title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 30px;
}
